In [1]:
import pandas as pd
import numpy as np
import copy
import locale

from modules.files import *
from modules.data import *
from modules.enums import *

pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', None)  # or 199

locale.setlocale( locale.LC_ALL, '')


#import_csv("Neighborhood_zhvi_uc_condo_tier_0.33_0.67_sm_sa_mon.csv")

'en_US.UTF-8'

In [2]:
#condo_data = import_csv("ingested_condo.csv")
#sfr_data = import_csv("ingested_singlefamilyresidence.csv")

In [3]:

#df2 = df1.pivot(index="Date", columns=["RegionName", "Housing Type"], values="% Change")
#df2 = df2.resample("Y").mean()
#df2.head()
#df2.plot(legend=False)

In [4]:
data = get_baseline_data(False, True)

df1 = data.copy(deep=True)

data = df1.reset_index("Housing Type") # remove multiindex to pivot on housing type

data.head()

,Housing Type,City,State,ZHVI Start,Start Date,ZHVI End,End Date,ZHVI Min,ZHVI Max,Years Diff,% Per Year
RegionName,,,,,,,,,,,
Maryvale,Condo,Phoenix,AZ,37276.0,2011-03-31,122818.0,2021-02-28,37276.0,122818.0,9.9,12.799282
Hollywood,SingleFamilyResidence,Los Angeles,CA,132736.0,1996-01-31,1321909.0,2021-02-28,132736.0,1321909.0,25.1,9.589624
Crown Heights,SingleFamilyResidence,New York,NY,145245.0,1996-01-31,1345674.0,2021-02-28,144826.0,1345674.0,25.1,9.274661
Bedford Stuyvesant,SingleFamilyResidence,New York,NY,169888.0,1996-01-31,1332066.0,2021-02-28,165638.0,1332066.0,25.1,8.550541
Maryvale,SingleFamilyResidence,Phoenix,AZ,90728.0,2009-01-31,233085.0,2021-02-28,55616.0,233085.0,12.1,8.109918

In [5]:
# condos summary table

condodata = data[data["Housing Type"]=="Condo"] # get only condo data

condodata.head()

,Housing Type,City,State,ZHVI Start,Start Date,ZHVI End,End Date,ZHVI Min,ZHVI Max,Years Diff,% Per Year
RegionName,,,,,,,,,,,
Maryvale,Condo,Phoenix,AZ,37276.0,2011-03-31,122818.0,2021-02-28,37276.0,122818.0,9.9,12.799282
Williamsburg,Condo,New York,NY,127547.0,1996-01-31,866730.0,2021-02-28,125522.0,877250.0,25.1,7.933415
Southeast Los Angeles,Condo,Los Angeles,CA,89777.0,1996-01-31,500616.0,2021-02-28,89311.0,500616.0,25.1,7.086481
Hollywood,Condo,Los Angeles,CA,143327.0,1996-01-31,785318.0,2021-02-28,133087.0,785318.0,25.1,7.011630
South Los Angeles,Condo,Los Angeles,CA,90380.0,1996-01-31,487011.0,2021-02-28,89924.0,487011.0,25.1,6.940470

In [6]:
# highest condos mapped

In [7]:
# sfr summary table
sfrdata = data[data["Housing Type"]=="SingleFamilyResidence"] # get only condo data

sfrdata.head()

,Housing Type,City,State,ZHVI Start,Start Date,ZHVI End,End Date,ZHVI Min,ZHVI Max,Years Diff,% Per Year
RegionName,,,,,,,,,,,
Hollywood,SingleFamilyResidence,Los Angeles,CA,132736.0,1996-01-31,1321909.0,2021-02-28,132736.0,1321909.0,25.1,9.589624
Crown Heights,SingleFamilyResidence,New York,NY,145245.0,1996-01-31,1345674.0,2021-02-28,144826.0,1345674.0,25.1,9.274661
Bedford Stuyvesant,SingleFamilyResidence,New York,NY,169888.0,1996-01-31,1332066.0,2021-02-28,165638.0,1332066.0,25.1,8.550541
Maryvale,SingleFamilyResidence,Phoenix,AZ,90728.0,2009-01-31,233085.0,2021-02-28,55616.0,233085.0,12.1,8.109918
Sunrise Manor,SingleFamilyResidence,Las Vegas,NV,111668.0,2009-07-31,272239.0,2021-02-28,85290.0,272239.0,11.6,7.985124

In [8]:
# highest sfr summary table